/*
   OJECTS.MIN-HEIGHT-FLEX-CONTAINER
   ----

   Fixing flex min-height containers on Internet Explorer
   https://github.com/philipwalton/flexbugs#3-min-height-on-a-flex-container-wont-apply-to-its-flex-items

   Place you min-height flex container inside this wrapper
   *PLEASE FIND A BETTER NAME FOR THIS
* ========================================================================== */

//put min height flex inside
.o-min-height-flex-wrapper,
.o-growing-flex-container{
   display: flex;
   flex-direction: column;
}
