/*
    SETTINGS.TYPESCALE
    ----

* ==================================================== */

// size, leading pairs
$g-typescale: (
	giga: (84px, 96px),
	mega: (60px, 72px),
	kilo: (48px, 60px),
	1:    (36px, 48px),
	2:    (24px, 36px),
	3:    (21px, 28px),
	4:    (18px, 24px),
	5:    (16px, 24px),
	6:    (14px, 18px),
	micro: (12px, 16px)
);
