/*
    UTILITIES.COLORING
    ----

    Atomic classes for give color to html elemtns
    Use only on static elements, not interactive

* ==================================================== */

/*
	generates
    .u-color-@colorname-@tone for each color in colorshceme
*/

@each $color, $tone in $g-colors-maps {
   @if type-of($tone) == 'map' {
      $tones: map-keys($tone);

      @for $i from 1 through length($tones) {
         @if nth($tones, $i) == "base" {
            .u-color-#{$color} {
                color: map-get($tone, nth($tones, $i ));
            }

            .u-bg-color-#{$color} {
                background-color: map-get($tone, nth($tones, $i ));
            }
         } @else {
         	.u-color-#{$color}--#{nth($tones, $i)} {
         	    color: map-get($tone, nth($tones, $i ));
         	}

            .u-bg-color-#{$color}--#{nth($tones, $i)} {
                background-color: map-get($tone, nth($tones, $i ));
            }
         }
      }
   } @else {
    .u-color-#{$color}{
      color: map-get($g-colors-maps, $color);
    }

    .u-bg-color-#{$color}{
      background-color: map-get($g-colors-maps, $color);
    }
   }
}
