/*
   UTITLITES.SPACING
   ----
   REFACTOR, a lot of repetition
* ==================================================== */


$u-spacers-breakpoints-list: $grid-breakpoints !default;


/* Margins
========================================================================== */
.u-m-t-1\/2 { margin-top: $g-spacing-unit/2; }
.u-m-t      { margin-top: $g-spacing-unit}
.u-m-t-1\.5x { margin-top: $g-spacing-unit * 1.5}
.u-m-t-2x   { margin-top: $g-spacing-unit * 2}
.u-m-t-3x   { margin-top: $g-spacing-unit * 3 }
.u-m-t-0    { margin-top: 0;}

.u-m-r-1\/2 { margin-right: $g-spacing-unit/2}
.u-m-r      { margin-right: $g-spacing-unit}
.u-m-r-1\.5x { margin-right: $g-spacing-unit * 1.5}
.u-m-r-2x   { margin-right: $g-spacing-unit * 2}
.u-m-r-3x   { margin-right: $g-spacing-unit * 3 }
.u-m-r-0    { margin-right: 0;}

.u-m-b-1\/2 { margin-bottom: $g-spacing-unit/2}
.u-m-b      { margin-bottom: $g-spacing-unit}
.u-m-b-1\.5x { margin-bottom: $g-spacing-unit * 1.5}
.u-m-b-2x   { margin-bottom: $g-spacing-unit * 2}
.u-m-b-3x   { margin-bottom: $g-spacing-unit * 3 }
.u-m-b-0    { margin-bottom: 0;}

.u-m-l-1\/2 { margin-left: $g-spacing-unit/2}
.u-m-l      { margin-left: $g-spacing-unit}
.u-m-l-1\.5x { margin-left: $g-spacing-unit * 1.5}
.u-m-l-2x   { margin-left: $g-spacing-unit * 2}
.u-m-l-3x   { margin-left: $g-spacing-unit * 3 }
.u-m-l-0    { margin-left: 0;}

.u-m-v-1\/2 { margin: {top: $g-spacing-unit/2; bottom: $g-spacing-unit/2; }}
.u-m-v      { margin: {top: $g-spacing-unit; bottom: $g-spacing-unit; }}
.u-m-v-1\.5x { margin: {top: $g-spacing-unit * 1.5; bottom: $g-spacing-unit * 1.5; }}
.u-m-v-2x   { margin: {top: $g-spacing-unit * 2; bottom: $g-spacing-unit * 2; }}
.u-m-v-3x   { margin: {top: $g-spacing-unit * 3; bottom: $g-spacing-unit * 3; }}
.u-m-v-0    { margin: {top: 0; bottom: 0; }}

.u-m-h-1\/2 { margin: {left: $g-spacing-unit/2; right: $g-spacing-unit/2; }}
.u-m-h      { margin: {left: $g-spacing-unit; right: $g-spacing-unit; }}
.u-m-h-1\.5x { margin: {left: $g-spacing-unit * 1.5; right: $g-spacing-unit * 1.5; }}
.u-m-h-2x   { margin: {left: $g-spacing-unit * 2; right: $g-spacing-unit * 2; }}
.u-m-h-3x   { margin: {left: $g-spacing-unit * 3; right: $g-spacing-unit * 3; }}
.u-m-h-0    { margin: {left: 0; right: 0; }}


/* Paddings
========================================================================== */
.u-p-t-1\/2 { padding-top: $g-spacing-unit/2; }
.u-p-t      { padding-top: $g-spacing-unit}
.u-p-t-1\.5x { padding-top: $g-spacing-unit * 1.5}
.u-p-t-2x   { padding-top: $g-spacing-unit * 2}
.u-p-t-3x   { padding-top: $g-spacing-unit * 3 }
.u-p-t-0    { padding-top: 0;}

.u-p-r-1\/2 { padding-right: $g-spacing-unit/2}
.u-p-r      { padding-right: $g-spacing-unit}
.u-p-r-1\.5x { padding-right: $g-spacing-unit * 1.5}
.u-p-r-2x   { padding-right: $g-spacing-unit * 2}
.u-p-r-3x   { padding-right: $g-spacing-unit * 3 }
.u-p-r-0    { padding-right: 0;}

.u-p-b-1\/2 { padding-bottom: $g-spacing-unit/2}
.u-p-b      { padding-bottom: $g-spacing-unit}
.u-p-b-1\.5x { padding-bottom: $g-spacing-unit * 1.5}
.u-p-b-2x   { padding-bottom: $g-spacing-unit * 2}
.u-p-b-3x   { padding-bottom: $g-spacing-unit * 3 }
.u-p-b-0    { padding-bottom: 0;}

.u-p-l-1\/2 { padding-left: $g-spacing-unit/2}
.u-p-l      { padding-left: $g-spacing-unit}
.u-p-l-1\.5x { padding-left: $g-spacing-unit * 1.5}
.u-p-l-2x   { padding-left: $g-spacing-unit * 2}
.u-p-l-3x   { padding-left: $g-spacing-unit * 3 }
.u-p-l-0    { padding-left: 0;}

.u-p-v-1\/2 { padding: {top: $g-spacing-unit/2; bottom: $g-spacing-unit/2; }}
.u-p-v      { padding: {top: $g-spacing-unit; bottom: $g-spacing-unit; }}
.u-p-v-1\.5x { padding: {top: $g-spacing-unit * 1.5; bottom: $g-spacing-unit * 1.5; }}
.u-p-v-2x   { padding: {top: $g-spacing-unit * 2; bottom: $g-spacing-unit * 2; }}
.u-p-v-3x   { padding: {top: $g-spacing-unit * 3; bottom: $g-spacing-unit * 3; }}
.u-p-v-0    { padding: {top: 0; bottom: 0; }}

.u-p-h-1\/2 { padding: {left: $g-spacing-unit/2; right: $g-spacing-unit/2; }}
.u-p-h      { padding: {left: $g-spacing-unit; right: $g-spacing-unit; }}
.u-p-h-1\.5x { padding: {left: $g-spacing-unit * 1.5; right: $g-spacing-unit * 1.5; }}
.u-p-h-2x   { padding: {left: $g-spacing-unit * 2; right: $g-spacing-unit * 2; }}
.u-p-h-3x   { padding: {left: $g-spacing-unit * 3; right: $g-spacing-unit * 3; }}
.u-p-h-0    { padding: {left: 0; right: 0; }}


@each $breakpoint in $u-spacers-breakpoints-list {
   @include mappy-bp($breakpoint){

      .u-m-t-1\/2\@#{$breakpoint} { margin-top: $g-spacing-unit/2; }
      .u-m-t\@#{$breakpoint}      { margin-top: $g-spacing-unit}
      .u-m-t-1\.5x\@#{$breakpoint} { margin-top: $g-spacing-unit * 1.5}
      .u-m-t-2x\@#{$breakpoint}   { margin-top: $g-spacing-unit * 2}
      .u-m-t-3x\@#{$breakpoint}   { margin-top: $g-spacing-unit * 3 }
      .u-m-t-0\@#{$breakpoint}    { margin-top: 0;}

      .u-m-r-1\/2\@#{$breakpoint} { margin-right: $g-spacing-unit/2}
      .u-m-r\@#{$breakpoint}      { margin-right: $g-spacing-unit}
      .u-m-r-1\.5x\@#{$breakpoint} { margin-right: $g-spacing-unit * 1.5}
      .u-m-r-2x\@#{$breakpoint}   { margin-right: $g-spacing-unit * 2}
      .u-m-r-3x\@#{$breakpoint}   { margin-right: $g-spacing-unit * 3 }
      .u-m-r-0\@#{$breakpoint}    { margin-right: 0;}

      .u-m-b-1\/2\@#{$breakpoint} { margin-bottom: $g-spacing-unit/2}
      .u-m-b\@#{$breakpoint}      { margin-bottom: $g-spacing-unit}
      .u-m-b-1\.5x\@#{$breakpoint} { margin-bottom: $g-spacing-unit * 1.5}
      .u-m-b-2x\@#{$breakpoint}   { margin-bottom: $g-spacing-unit * 2}
      .u-m-b-3x\@#{$breakpoint}   { margin-bottom: $g-spacing-unit * 3 }
      .u-m-b-0\@#{$breakpoint}    { margin-bottom: 0;}

      .u-m-l-1\/2\@#{$breakpoint} { margin-left: $g-spacing-unit/2}
      .u-m-l\@#{$breakpoint}      { margin-left: $g-spacing-unit}
      .u-m-l-1\.5x\@#{$breakpoint} { margin-left: $g-spacing-unit * 1.5}
      .u-m-l-2x\@#{$breakpoint}   { margin-left: $g-spacing-unit * 2}
      .u-m-l-3x\@#{$breakpoint}   { margin-left: $g-spacing-unit * 3 }
      .u-m-l-0\@#{$breakpoint}    { margin-left: 0;}

      .u-m-v-1\/2\@#{$breakpoint} { margin: {top: $g-spacing-unit/2; bottom: $g-spacing-unit/2; }}
      .u-m-v\@#{$breakpoint}      { margin: {top: $g-spacing-unit; bottom: $g-spacing-unit; }}
      .u-m-v-1\.5x\@#{$breakpoint} { margin: {top: $g-spacing-unit * 1.5; bottom: $g-spacing-unit * 1.5; }}
      .u-m-v-2x\@#{$breakpoint}   { margin: {top: $g-spacing-unit * 2; bottom: $g-spacing-unit * 2; }}
      .u-m-v-3x\@#{$breakpoint}   { margin: {top: $g-spacing-unit * 3; bottom: $g-spacing-unit * 3; }}
      .u-m-v-0\@#{$breakpoint}    { margin:  {top: 0; bottom: 0; }}

      .u-m-h-1\/2\@#{$breakpoint} { margin: {left: $g-spacing-unit/2; right: $g-spacing-unit/2; }}
      .u-m-h\@#{$breakpoint}      { margin: {left: $g-spacing-unit; right: $g-spacing-unit; }}
      .u-m-h-1\.5x\@#{$breakpoint} { margin: {left: $g-spacing-unit * 1.5; right: $g-spacing-unit * 1.5; }}
      .u-m-h-2x\@#{$breakpoint}   { margin: {left: $g-spacing-unit * 2; right: $g-spacing-unit * 2; }}
      .u-m-h-3x\@#{$breakpoint}   { margin: {left: $g-spacing-unit * 3; right: $g-spacing-unit * 3; }}
      .u-m-h-0\@#{$breakpoint}    { margin: {left: 0; right: 0; }}

      .u-p-t-1\/2\@#{$breakpoint} { padding-top: $g-spacing-unit/2; }
      .u-p-t\@#{$breakpoint}      { padding-top: $g-spacing-unit}
      .u-p-t-1\.5x\@#{$breakpoint} { padding-top: $g-spacing-unit * 1.5}
      .u-p-t-2x\@#{$breakpoint}   { padding-top: $g-spacing-unit * 2}
      .u-p-t-3x\@#{$breakpoint}   { padding-top: $g-spacing-unit * 3 }
      .u-p-t-0\@#{$breakpoint}    { padding-top: 0;}

      .u-p-r-1\/2\@#{$breakpoint} { padding-right: $g-spacing-unit/2}
      .u-p-r\@#{$breakpoint}      { padding-right: $g-spacing-unit}
      .u-p-r-1\.5x\@#{$breakpoint} { padding-right: $g-spacing-unit * 1.5}
      .u-p-r-2x\@#{$breakpoint}   { padding-right: $g-spacing-unit * 2}
      .u-p-r-3x\@#{$breakpoint}   { padding-right: $g-spacing-unit * 3 }
      .u-p-r-0\@#{$breakpoint}    { padding-right: 0;}

      .u-p-b-1\/2\@#{$breakpoint} { padding-bottom: $g-spacing-unit/2}
      .u-p-b\@#{$breakpoint}      { padding-bottom: $g-spacing-unit}
      .u-p-b-1\.5x\@#{$breakpoint} { padding-bottom: $g-spacing-unit * 1.5}
      .u-p-b-2x\@#{$breakpoint}   { padding-bottom: $g-spacing-unit * 2}
      .u-p-b-3x\@#{$breakpoint}   { padding-bottom: $g-spacing-unit * 3 }
      .u-p-b-0\@#{$breakpoint}    { padding-bottom: 0;}

      .u-p-l-1\/2\@#{$breakpoint} { padding-left: $g-spacing-unit/2}
      .u-p-l\@#{$breakpoint}      { padding-left: $g-spacing-unit}
      .u-p-l-1\.5x\@#{$breakpoint} { padding-left: $g-spacing-unit * 1.5}
      .u-p-l-2x\@#{$breakpoint}   { padding-left: $g-spacing-unit * 2}
      .u-p-l-3x\@#{$breakpoint}   { padding-left: $g-spacing-unit * 3 }
      .u-p-l-0\@#{$breakpoint}    { padding-left: 0;}

      .u-p-v-1\/2\@#{$breakpoint} { padding: {top: $g-spacing-unit/2; bottom: $g-spacing-unit/2; }}
      .u-p-v\@#{$breakpoint}      { padding: {top: $g-spacing-unit; bottom: $g-spacing-unit; }}
      .u-p-v-1\.5x\@#{$breakpoint} { padding: {top: $g-spacing-unit * 1.5; bottom: $g-spacing-unit * 1.5; }}
      .u-p-v-2x\@#{$breakpoint}   { padding: {top: $g-spacing-unit * 2; bottom: $g-spacing-unit * 2; }}
      .u-p-v-3x\@#{$breakpoint}   { padding: {top: $g-spacing-unit * 3; bottom: $g-spacing-unit * 3; }}
      .u-p-v-0\@#{$breakpoint}    { padding: {top: 0; bottom: 0; }}

      .u-p-h-1\/2\@#{$breakpoint} { padding: {left: $g-spacing-unit/2; right: $g-spacing-unit/2; }}
      .u-p-h\@#{$breakpoint}      { padding: {left: $g-spacing-unit; right: $g-spacing-unit; }}
      .u-p-h-1\.5x\@#{$breakpoint} { padding: {left: $g-spacing-unit * 1.5; right: $g-spacing-unit * 1.5; }}
      .u-p-h-2x\@#{$breakpoint}   { padding: {left: $g-spacing-unit * 2; right: $g-spacing-unit * 2; }}
      .u-p-h-3x\@#{$breakpoint}   { padding: {left: $g-spacing-unit * 3; right: $g-spacing-unit * 3; }}
      .u-p-h-0\@#{$breakpoint}    { padding: {left: 0; right: 0; }}
   }
}
