<!--  Essential META Tags -->
<meta property="og:title" content="{{meta.og.title}}">
<meta property="og:description" content="{{meta.og.description}}">
<meta property="og:image" content="{{meta.og.description}}">
<meta property="og:url" content="{{meta.og.url}}">
<meta name="twitter:card" content="{{meta.social.twitter_card}}">

<!--  Non-Essential, But Recommended -->
<meta name="og:site_name" content="{{meta.og.site_name}}">
<meta name="twitter:image:alt" content="{{meta.social.twitter_image_alt}}">

<!--  Non-Essential, But Required for Analytics -->
<meta property="fb:app_id" content="{{meta.social.fb_app_id}}" />
<meta name="twitter:site" content="{{meta.social_twitter_site}}">