/*
   OJECTS.SKELETON
   ----

   Inspired by human body.
   A layout wrapper that keeps header and footer sticky at the top and bottom
   and the body will expand to ocuppy the remaining space

   [1] - When applied inside a wrapper element (not body) is normally desirable
   that content overflows

   ----
   Real usecases:
   * Sticky Footer
    - https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
   * Overflowing content on panels & Chat interfaces
    - Messenger Apps (sticky footer and header, scrollable messages)
    - https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
* ========================================================================== */

.o-skeleton{
   position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

   .o-skeleton__head,
   .o-skeleton__feet {
   	flex: none;
   }

   .o-skeleton__body{
      position: relative;
   	flex: 1 0 auto;
   	width: 100%;
   }



/* Variants
========================================================================== */

/* [1] */
.o-skeleton--scrollable{
   .o-skeleton__body{
      overflow: auto;
      -webkit-overflow-scrolling: touch;
   }
}
